<h2>Feeds</h2>
<ul class="nav nav-list">
  <% @sidebar_categories.each do |c| %>
  <% if c.feeds.count > 0 %>
  <li class="nav-header"><a href="<%= category_path(c) %>"><i class="icon-share-alt"></i> <%= c.name %></a></li>
  <%= render partial: "layouts/sidebar_category_feeds", locals: { feeds: c.feeds } %>
  <% end %>
  <% end %>
  <% unless @sidebar_feeds.nil? or @sidebar_feeds.count == 0 %>
  <li class="nav-header"><i>(Non classés)</i></li>
  <%= render partial: "layouts/sidebar_category_feeds", locals: { feeds: @sidebar_feeds } %>
  <% end %>
</ul>
