<h2>Feeds</h2>
<ul class="nav nav-list" style="font-family: courier: font-size: 12px">
  <% @sidebar_categories.each do |c| %>
  <li class="nav-header"><a href="<%= category_path(c) %>"><i class="icon-share-alt"></i> <%= c.name %></a></li>
  <% c.feeds.each do |f| %>
  <li>
    <span>
      <% title = f.title[0..30] %>
      <% title += "..." if f.title.size > 30 %>
      <%= link_to title, f %>
    </span>
  </li>
  <% end %>
  <% end %>
  <li class="nav-header"><i>(Non classés)</i></li>
  <% @sidebar_feeds.each do |f| %>
  <% if f.category_id.nil? %>
  <li>
    <% title = f.title[0..20] %>
    <% title += "..." if f.title.size > 20 %>
    <%= link_to title, f %>
  </li>
  <% end %>
  <% end %>
</ul>
